actility_teszt.json
[
  {
    "id": "flow_actility_demo",
    "type": "tab",
    "label": "Actility UL decode demo",
    "disabled": false,
    "info": ""
  },
  {
    "id": "http_in_act",
    "type": "http in",
    "z": "flow_actility_demo",
    "name": "POST /actility",
    "url": "/actility",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 140,
    "y": 100,
    "wires": [["json_parse", "http_reply_ok"]]
  },
  {
    "id": "json_parse",
    "type": "json",
    "z": "flow_actility_demo",
    "name": "Parse JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 360,
    "y": 80,
    "wires": [["extract_fields"]]
  },
  {
    "id": "extract_fields",
    "type": "function",
    "z": "flow_actility_demo",
    "name": "Extract + decode payload",
    "func": "// Actility UL feldolgozás\nvar ul = msg.payload.DevEUI_uplink;\nif (!ul) return msg;\n\n// alapadatok\nvar dev = ul.DevEUI;\nvar port = ul.FPort;\nvar hex = ul.payload_hex || \"\";\n\n// egyszerű hex->ASCII dekódolás\ntype = 'ascii';\nvar ascii = '';\ntry {\n    ascii = Buffer.from(hex, 'hex').toString();\n} catch(e){ ascii = '(decode error)'; }\n\n// új payload felépítése\nmsg.payload = {\n    DevEUI: dev,\n    FPort: port,\n    payload_hex: hex,\n    payload_ascii: ascii,\n    RSSI: ul.LrrRSSI,\n    SNR: ul.LrrSNR,\n    SF: ul.SpFact,\n    Frequency: ul.DriverCfg?.Frequency,\n    GPS: {\n        lat: ul.LrrLAT,\n        lon: ul.LrrLON\n    },\n    Time: ul.Time\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 80,
    "wires": [["debug_out"]]
  },
  {
    "id": "debug_out",
    "type": "debug",
    "z": "flow_actility_demo",
    "name": "Decoded UL",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 840,
    "y": 80,
    "wires": []
  },
  {
    "id": "http_reply_ok",
    "type": "http response",
    "z": "flow_actility_demo",
    "name": "200 OK",
    "statusCode": "200",
    "headers": {
      "Content-Type": "application/json"
    },
    "x": 380,
    "y": 140,
    "wires": []
  }
]
